.App {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
}

body {
  background: #E6E6FA;
  color: #2f2f31;
  max-width: 900px;
}

.user {
  border: 1px solid rgb(238, 162, 207);
  border-radius: 7px;
  box-shadow: 10px 5px 10px 5px  rgba(0, 0, 0, .5);
  margin: 10px;
  background: linear-gradient(-45deg, rgb(220, 178, 211), white);
  width: 250px;
  font-size: 16px;
  color: #545456;
}
.user:hover {
  box-shadow: 10px -5px 10px 5px rgba(0, 0, 0, .5);
  color: #151516;
}

span:hover {
  color:rgba(155, 10, 10, 0.895)
}


